@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
/* UTILS - ANIMATIONS */
@keyframes menumvt {
  from {
    opacity: 0;
    transform: translateY(40%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes rondbattement {
  from {
    transform: scale(0.6);
    opacity: 1;
  }
  to {
    transform: scale(1.2);
    transform: rotate(-0.5turn);
    opacity: 0;
  }
}
@keyframes loading-disparition {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
/* BASE */
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  word-wrap: break-word;
}

main {
  background-color: #f6f6f6;
  margin-top: 4em;
}

h1 {
  font-family: Shrikhand, serif;
}

h3 {
  font-size: 1.4em;
}

ul {
  padding: 0;
  list-style: none;
  counter-reset: numeroliste;
}

a {
  text-decoration: none;
  color: black;
}
a:hover, a:active {
  color: #9356DC;
}

button {
  outline: 0;
}

/* COMPONENTS - LOADING SPINNER */
.loading {
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  padding-bottom: 20px;
  margin-top: -30px;
  background: white;
  color: #FF79DA;
  font-family: Shrikhand, serif;
  font-size: 0.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: loading-disparition 0.5s 3s ease-in forwards;
}
.loading__rond {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border-bottom: solid 2px #FF79DA;
  border-top: solid 2px #FF79DA;
  animation: rondbattement 1s cubic-bezier(0, 0.2, 0.8, 1) 4;
}
.loading__rond::after {
  content: "";
  height: 150px;
  width: 150px;
  position: absolute;
  background: radial-gradient(white 40%, #FF79DA);
  border-radius: 50%;
  animation: rondbattement 1s 0.5s cubic-bezier(0, 0.2, 0.8, 1) 4;
}

/* COMPONENTS - BOUTONS */
.btndegrade {
  padding: 1em 1.4em 1em 1.4em;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  outline: 0;
  border-radius: 50px;
  border: none;
  box-shadow: 1px 3px 5px #dfdcdc;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 3.7em;
}
.btndegrade:hover, .btndegrade:active {
  opacity: 0.9;
  box-shadow: 1px 3px 5px #696666;
}

.btncoeur, .btncoeurmenu {
  position: relative;
  height: 19px;
  width: 21.2px;
  padding-top: 1.2px;
  overflow: hidden;
  cursor: pointer;
}
.btncoeur :active::before,
.btncoeur :hover::before, .btncoeurmenu :active::before,
.btncoeurmenu :hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 21.2px;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #FF79DA 10%, #9356DC 100%);
  transform: translateX(100%);
  transition: 0.3s ease-out;
}
.btncoeur :active::after,
.btncoeur :hover::after, .btncoeurmenu :active::after,
.btncoeurmenu :hover::after {
  content: "";
  font-weight: bold;
  background-color: white;
  mix-blend-mode: lighten;
}

.btncoeurmenu :active::after,
.btncoeurmenu :hover::after {
  background-color: #f6f6f6;
}

/* LAYOUT - HEADER */
header {
  text-align: center;
  box-shadow: -5px 3px 3px rgba(0, 0, 0, 0.1);
}
header h1 {
  padding-bottom: 0.1em;
  margin-bottom: 0;
}

/* LAYOUT - FOOTER */
footer {
  padding: 1em;
  background-color: #353535;
  color: white;
  text-align: left;
}
footer h2 {
  margin-top: 0.3em;
  font-family: Shrikhand, serif;
  font-size: 1.2em;
  font-weight: 100;
}

.infofooter li {
  padding-bottom: 1em;
}
.infofooter a {
  color: white;
}
.infofooter a:hover, .infofooter a:active {
  color: #FF79DA;
}
.infofooter .fas {
  width: 20px;
  margin-right: 10px;
}

/* HOME PAGE */
/* SECTION PRÉSENTATION - champs de recherche + btn " Explorer nos restaurants " */
.champsrecherche {
  background-color: #EAEAEA;
  mix-blend-mode: darken;
  display: flex;
  justify-content: center;
  padding: 0.7em;
}
.champsrecherche .fas {
  margin-right: 1em;
}
.champsrecherche__input {
  cursor: pointer;
  background-color: #EAEAEA;
  font-weight: bold;
  border: none;
}
.champsrecherche__input::placeholder {
  color: black;
}
.champsrecherche__input:focus {
  outline: 0;
}

#presentation {
  background-color: #f6f6f6;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}
#presentation h2 {
  padding-top: 1.2em;
  margin: auto;
  font-weight: bold;
  width: 80%;
}
#presentation p {
  margin-top: 15px;
  color: gray;
  font-size: 1em;
  font-weight: 300;
}

/* SECTION FONCTIONNEMENT - HOME PAGE avec pictos + puces */
#fonctionnement {
  margin: 1.3em;
  position: relative;
}
#fonctionnement h3 {
  margin-top: 2.4em;
}
#fonctionnement .fas {
  color: #7e7e7e;
  margin-right: 1.6em;
}
#fonctionnement li {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.3em;
  padding: 1.4em 2em 1.4em 2.4em;
  text-align: left;
  max-width: 100%;
  background-color: #f6f6f6;
  box-shadow: 1px 5px 10px #dfdcdc;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
#fonctionnement li:hover, #fonctionnement li:active {
  background-color: #f5edff;
  cursor: pointer;
}
#fonctionnement li:hover > .fas, #fonctionnement li:active > .fas {
  /* hover avec couleur icone */
  color: #9356DC;
}
#fonctionnement li::before {
  position: absolute;
  padding: 5px 9px 5px 9px;
  counter-increment: numeroliste;
  content: counter(numeroliste);
  background-color: #9356DC;
  color: white;
  font-size: 0.8em;
  border-radius: 50%;
  margin-left: -50px;
}

/* SECTION RESTAURANT - HOME PAGE */
#restaurants {
  padding-top: 1.5em;
  padding-bottom: 2.5em;
  margin: 1.4em 1.4em 0 1.4em;
  position: relative;
  user-select: none;
}
#restaurants li {
  margin-bottom: 6em;
}

figcaption {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 22px 22px;
  box-shadow: 0 7px 8px #dfdcdc;
}
figcaption h4 {
  margin-top: 0.7em;
  margin-bottom: 0.3em;
  margin-left: 1em;
}
figcaption p {
  margin-top: 0;
  margin-bottom: 1.2em;
  font-weight: 300;
  margin-left: 1em;
}

.encartmenu {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  height: 26vh;
  background-color: white;
  box-shadow: 0 7px 8px #dfdcdc;
  border-radius: 22px;
}
.encartmenu__img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 17px 17px 0 0;
  object-fit: cover;
}
.encartmenu__img--ajust1 {
  object-position: 50% 100%;
}
.encartmenu__img--ajust2 {
  object-position: 50% 62%;
}
.encartmenu__img--ajust3 {
  object-position: 50% 100%;
}
.encartmenu__img--ajust4 {
  object-position: 50% 95%;
}
.encartmenu .btncoeur {
  margin-right: 1em;
}
.encartmenu__nouveau {
  position: absolute;
  right: 17px;
  z-index: 1;
  padding: 5px;
  font-weight: bold;
  background-color: #99E2D0;
  color: #278870;
}

/* MEDIA QUERIES - HOME PAGE */
/* SMALL */
@media all and (min-width: 200px) and (max-width: 374px) {
  #fonctionnement li {
    font-size: smaller;
  }

  #fonctionnement li::before {
    margin-left: -40px;
  }
}
@media all and (min-width: 600px) and (max-width: 874px) {
  #restaurants ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }
  #restaurants li {
    margin-bottom: 3em;
  }

  .encartmenu {
    height: 16vh;
  }
  .encartmenu__img--ajust1 {
    height: 133%;
    object-position: center -45px;
  }
  .encartmenu__img--ajust3 {
    height: 133%;
    object-position: 20% -45px;
  }
}
/* MEDIUM */
@media screen and (min-width: 875px) {
  #presentation h2 {
    width: 100%;
  }

  #fonctionnement ul {
    display: flex;
    justify-content: space-between;
  }
  #fonctionnement ul li {
    margin: 0;
  }

  #restaurants ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }
  #restaurants li {
    margin-bottom: 3em;
  }

  .encartmenu__img--ajust1 {
    height: 135%;
    object-position: center -80px;
  }
  .encartmenu__img--ajust3 {
    height: 133%;
    object-position: 20% -70px;
  }

  footer ul {
    display: flex;
    justify-content: space-between;
  }
}
/* LARGE */
@media screen and (min-width: 1100px) {
  #fonctionnement, #restaurants, .infofooter {
    max-width: 1000px;
    margin: auto;
  }
}
/* PAGE MENU */
/* HEADER */
.headermenu {
  position: relative;
  margin-top: 20px;
  display: flex;
}
.headermenu .fas {
  position: absolute;
  top: 0.6em;
  margin-left: 1.5em;
  font-size: 1.3em;
}
.headermenu h1 {
  max-width: 100%;
  margin: auto;
}

/* IMAGE PRINCIPALE - PAGE MENU */
.imageentete {
  margin: 0;
}
.imageentete__img {
  max-width: 100%;
  min-width: 100%;
  object-fit: cover;
  object-position: 50% 60%;
  height: 40vh;
}
.imageentete__img--recadrer {
  object-position: 50% 50%;
}

.mainmenu {
  position: relative;
  width: 100%;
  margin-top: -55px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
}

/* MENU TITRE - PAGE MENU */
.menu {
  display: block;
}
.menu__titre, .menu .encart {
  padding-left: 1.4em;
  padding-right: 1.4em;
  padding-top: 0.5em;
}
.menu__titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__titre h2 {
  font-family: Shrikhand, serif;
  font-size: 1.8em;
  font-weight: 200;
}

/* SECTION COMPOSITION MENU - PAGE MENU */
.encart__titre {
  font-weight: 300;
  font-size: 1em;
}
.encart__titre::after {
  content: "";
  display: block;
  width: 48px;
  height: 3px;
  margin-top: 4px;
  background-color: #99E2D0;
}

.encart__description {
  height: 75px;
  margin-bottom: 1em;
  background-color: white;
  display: flex;
  border-radius: 18px;
  box-shadow: 0 7px 8px #dfdcdc;
  overflow: hidden;
  will-change: transform;
  cursor: pointer;
  /* Animation encarts menus */
}
.encart__description--mvt1 {
  animation: menumvt 1s ease-out;
  opacity: 1;
}
.encart__description--mvt2 {
  animation: menumvt 1s 0.2s ease-out;
  opacity: 1;
}
.encart__description--mvt3 {
  animation: menumvt 1s 0.3s ease-out;
  opacity: 1;
}
.encart__description--mvt4 {
  animation: menumvt 1s 0.4s ease-out;
  opacity: 1;
}

.encart__infos {
  width: 150%;
  padding-left: 0.7em;
  overflow: hidden;
}
.encart__infos p, .encart__infos h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.encart__infos h4 {
  margin-bottom: 0.3em;
  margin-top: 0.8em;
  font-weight: 500;
  font-size: 1.1em;
}
.encart__infos p {
  margin-top: 0;
  font-size: 0.95em;
  font-weight: 300;
}

.encart__prix {
  margin-right: -20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: bold;
  transform: translateX(120%);
  transition: 0.6s;
}

.encart__valider {
  height: 100%;
  width: 9.5em;
  border: none;
  background-color: #99E2D0;
  cursor: pointer;
  transform: translateX(101%);
  transition: 0.6s;
}
.encart__valider .fas {
  color: white;
  font-size: 2em;
}

/* Survol bouton encart menu */
.encart__description:hover > .encart__valider,
.encart__description:active > .encart__valider {
  transform: translateX(0%);
}
.encart__description:hover > .encart__prix,
.encart__description:active > .encart__prix {
  transform: translateX(-120%);
  margin-left: 40px;
}
.encart__description:hover .fas,
.encart__description:active .fas {
  transform: rotate(1turn);
  transition: 0.6s ease-in-out;
}

/* Bouton dégradé */
.validation {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.validation .btndegrade {
  padding-right: 2.4em;
  padding-left: 2.4em;
  font-size: 1.2em;
}

/* MEDIA QUERIES - PAGE MENU */
/* SMALL */
@media all and (min-width: 300px) and (max-width: 568px) {
  .menu__titre h2 {
    font-size: 1.4em;
  }

  .encart__prix {
    transform: translateX(90%);
  }
}
/* MEDIUM */
@media screen and (min-width: 930px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(3, 33.2%);
  }
}
/* LARGE */
@media screen and (min-width: 1200px) {
  .mainmenu {
    position: relative;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -55px;
  }
}

/*# sourceMappingURL=style.css.map */
