@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  word-wrap: break-word;
}

main {
  background-color: #f6f6f6;
  margin-top: 4em;
}

h1 {
  font-family: Shrikhand, serif;
}

h3 {
  font-size: 1.4em;
}

ul {
  padding: 0;
  list-style: none;
  counter-reset: numeroliste;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #9356DC;
}

button {
  outline: 0;
}

.btndegrade {
  cursor: pointer;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  outline: 0;
  padding: 1em 1.4em 1em 1.4em;
  border-radius: 50px;
  color: white;
  border: none;
  font-weight: bold;
  box-shadow: 1px 3px 5px #C1C0C0;
  margin-top: 1em;
  margin-bottom: 3em;
}
.btndegrade:hover {
  opacity: 0.9;
}

.btncoeur {
  position: relative;
}
.btncoeur .far:hover {
  color: #640468;
  font-weight: bold;
  mix-blend-mode: hard-light;
}
.btncoeur .fa-heart:hover::after {
  position: absolute;
  content: "";
  left: 0px;
  top: 4px;
  height: 75%;
  width: 100%;
  background: linear-gradient(transparent, #ac9ca7);
}

header {
  text-align: center;
}
header h1 {
  margin-bottom: 8px;
}

footer {
  padding: 1em;
  background-color: #353535;
  color: white;
  text-align: left;
}
footer h2 {
  font-family: Shrikhand, serif;
  margin-top: 0.3em;
  font-size: 1.3em;
  font-weight: 100;
}

.infofooter li {
  padding-bottom: 12px;
}
.infofooter a {
  color: white;
}
.infofooter a:hover {
  color: #FF79DA;
}
.infofooter .fas {
  width: 20px;
  margin-right: 10px;
}

.champsrecherche {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  padding: 0.7em;
}
.champsrecherche .fas {
  margin-right: 1em;
}
.champsrecherche__input {
  cursor: pointer;
  background-color: #EAEAEA;
  font-weight: bold;
  border: none;
}
.champsrecherche__input::placeholder {
  color: black;
}
.champsrecherche__input:focus {
  outline: 0;
}

#presentation {
  background-color: #f6f6f6;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}
#presentation h2 {
  padding-top: 1.2em;
  margin: auto;
  font-weight: bold;
  width: 60%;
}
#presentation p {
  margin-top: 5px;
  color: gray;
  font-weight: 100;
}

#fonctionnement {
  margin: 1.4em;
  position: relative;
}
#fonctionnement h3 {
  margin-top: 2.4em;
}
#fonctionnement .fas {
  color: #7e7e7e;
  margin-right: 1.6em;
}
#fonctionnement li {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.3em;
  padding: 1.4em 2em 1.4em 2.4em;
  text-align: left;
  max-width: 100%;
  background-color: #f6f6f6;
  box-shadow: 1px 3px 5px #C1C0C0;
  border-radius: 17px;
  font-weight: bold;
}
#fonctionnement li:hover {
  background-color: #f5edff;
  cursor: pointer;
}
#fonctionnement li:hover > .fas {
  color: #9356DC;
}
#fonctionnement li::before {
  counter-increment: numeroliste;
  content: counter(numeroliste);
  position: absolute;
  color: white;
  font-size: 0.8em;
  background-color: #9356DC;
  padding: 5px 9px 5px 9px;
  border-radius: 50%;
  margin-left: -50px;
}

#restaurants {
  padding-top: 1.5em;
  padding-bottom: 2.5em;
  margin-top: 1.4em;
  margin-right: 1.4em;
  margin-left: 1.4em;
  margin-bottom: 0;
  position: relative;
}

figcaption {
  margin-left: 1em;
  margin-right: 1.4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
figcaption h4 {
  margin-top: 0.7em;
  margin-bottom: 0.3em;
}
figcaption p {
  margin-top: 0;
  margin-bottom: 1.2em;
}

.encartmenu {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  background-color: white;
  box-shadow: 0 7px 8px #dfdcdc;
  border-radius: 22px;
}
.encartmenu .encartmenu__img {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  height: 25vh;
  max-width: 100%;
  min-width: 100%;
}
.encartmenu .encartmenu__img--ajust1 {
  object-position: 50% 100%;
}
.encartmenu .encartmenu__img--ajust2 {
  object-position: 50% 60%;
}
.encartmenu .encartmenu__img--ajust3 {
  object-position: 50% 100%;
}
.encartmenu .encartmenu__img--ajust4 {
  object-position: 50% 90%;
}
.encartmenu__nouveau {
  position: absolute;
  right: 17px;
  top: 5px;
  padding: 5px;
  font-weight: bold;
  background-color: #99E2D0;
  color: #1b6150;
}

@media screen and (min-width: 930px) {
  #presentation h2 {
    width: 100%;
  }

  #fonctionnement ul {
    display: flex;
    justify-content: space-between;
  }
  #fonctionnement ul li {
    margin: 0;
  }

  #restaurants ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }

  footer ul {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  #fonctionnement, #restaurants, .infofooter {
    max-width: 1200px;
    margin: auto;
  }
}
.headermenu {
  display: flex;
  margin-top: 20px;
  position: relative;
}
.headermenu .fas {
  position: absolute;
  top: 0.6em;
  font-size: 1.3em;
  margin-left: 1.5em;
}
.headermenu h1 {
  max-width: 100%;
  margin: auto;
}

.imageentete {
  margin: 0;
}
.imageentete__img {
  max-width: 100%;
  min-width: 100%;
  object-fit: cover;
  object-position: 50% 60%;
  height: 40vh;
}

.mainmenu {
  margin-top: 0.3em;
  position: relative;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 25px 25px 0 0;
  margin-top: -55px;
}

.menu__titre, .encart {
  padding-left: 1.4em;
  padding-right: 1.4em;
  padding-top: 0.5em;
}

.menu__titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__titre h2 {
  font-family: Shrikhand, serif;
  font-size: 1.8em;
  font-weight: 200;
}

.encart__titre {
  font-weight: lighter;
}
.encart__titre::after {
  content: "";
  display: block;
  margin-top: 4px;
  width: 55px;
  height: 3px;
  background-color: #99E2D0;
}

.encart__description {
  margin-bottom: 1em;
  box-shadow: 1px 2px 7px #dbd8d8;
  display: flex;
  max-width: 100%;
  border-radius: 20px;
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
}

.encart__infos {
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  overflow: hidden;
}

.encart__titrerecette {
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.encart__descriptifrecette {
  margin-top: 0.2em;
  margin-right: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prix {
  margin-left: 1em;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.fa-check-circle {
  color: white;
  font-size: 2em;
  transition: transform 0.5s ease-in-out;
}

.encart__valider {
  cursor: pointer;
  background-color: #99E2D0;
  border: none;
  min-width: 5em;
  margin-left: 1em;
  margin-right: -5em;
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}

.encart__description:hover > .encart__valider {
  margin-right: 0.9em;
  transform: translateX(1em);
}
.encart__description:hover > .encart__valider > .fas {
  transform: rotate(1turn);
}

.validation {
  cursor: pointer;
  margin-top: 2em;
  display: flex;
  justify-content: center;
}
.validation .btndegrade {
  font-size: 1.2em;
  padding-right: 2.4em;
  padding-left: 2.4em;
}

@media screen and (min-width: 930px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
