.btndegrade {
   @include bouton-degrade;
   margin-top: 1em;
   margin-bottom: 3em;
}

.btncoeur {
   position: relative;

   .far:hover { 
       color: rgb(100, 4, 104);
       font-weight: bold;
       mix-blend-mode: hard-light;
   }

   .fa-heart:hover::after {
       position: absolute;
       content: "";
       left: 0px;
       top: 4px;
       height: 75%;
       width: 100%;
       background: linear-gradient(transparent, rgb(172, 156, 167));
   }
}