/* HOME PAGE */
/* SECTION PRÉSENTATION - champs de recherche + btn " Explorer nos restaurants " */
.champsrecherche {
    background-color: #EAEAEA;
    mix-blend-mode  : darken;
    display: flex;
    justify-content: center;
    padding: .7em;
    
    .fas {
        margin-right: 1em;
    }

    &__input {
    cursor: pointer;
    background-color: #EAEAEA;
    font-weight: bold;
    border     : none;

        &::placeholder {
            color: black;
        }

        &:focus {
            outline: 0;
        }
    }
}

#presentation {
    background-color: #f6f6f6;
    text-align   : center;
    padding-left : 10%;
    padding-right: 10%;

    h2 {
        padding-top: 1.2em;
        margin     : auto;
        font-weight: bold;
        width      : 80%;
    }

    p {
        margin-top : 15px;
        color      : gray;
        font-size  : 1em;
        font-weight: 300;
    }
}

/* SECTION FONCTIONNEMENT - HOME PAGE avec pictos + puces */
#fonctionnement {
    margin  : 1.3em;
    position: relative;
    
    h3 {
        margin-top: 2.4em;
    }

    .fas {
        color: #7e7e7e;
        margin-right: 1.6em;
    }

    li {
        margin-right : auto;
        margin-left  : auto;
        margin-bottom: 1.3em;
        padding: 1.4em 2em 1.4em 2.4em;
        text-align: left;
        max-width : 100%;
        background-color: #f6f6f6;
        box-shadow   : 1px 5px 10px $box-shadow;
        border-radius: 20px;
        font-weight  : bold;
        cursor: pointer;

        &:hover, &:active {
            background-color: #f5edff;
            cursor: pointer;
        
        > .fas { /* hover avec couleur icone */
                color: $color-primary;
            }
        }

        &::before {
            @include puce-liste;
            margin-left: -50px;
        }
    }
}

/* SECTION RESTAURANT - HOME PAGE */
#restaurants {
    padding-top   : 1.5em;
    padding-bottom: 2.5em;
    margin: 1.4em 1.4em 0 1.4em;
    position      : relative;
    user-select: none;

    li {
        margin-bottom: 6em;
    }
}

figcaption {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: white;
    display     : flex;
    justify-content: space-between;
    align-items: center;
    border-radius   : 0 0 22px 22px;
    box-shadow      : 0 7px 8px $box-shadow;
    
    h4 {
        margin-top   : .7em;
        margin-bottom: .3em;
        margin-left: 1em;
    }

    p {
        margin-top   : 0;
        margin-bottom: 1.2em;
        font-weight  : 300;
        margin-left: 1em;
    }
}

.encartmenu {
    position: relative;
    margin-left : 0;
    margin-right: 0;
    height: 26vh;
    background-color: white;
    box-shadow      : 0 7px 8px $box-shadow;
    border-radius   : 22px;

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 17px 17px 0 0;
        object-fit   : cover;


        &--ajust1 {
            object-position: 50% 100%;
        }

        &--ajust2 {
            object-position: 50% 62%;
        }

        &--ajust3 {
            object-position: 50% 100%;
        }
        
        &--ajust4 {
            object-position: 50% 95%;
        }
    }

    .btncoeur {
        margin-right: 1em;
    }

    &__nouveau {
    position: absolute;
    right  : 17px;
    z-index: 1;
    padding: 5px;
    font-weight: bold;
    background-color: $color-tertiary;
    color: darken($color-tertiary, 40%);
    }
}

/* MEDIA QUERIES - HOME PAGE */

/* SMALL */ 
@media all and (min-width: 200px) and (max-width: 374px) {
    #fonctionnement li {
        font-size: smaller;
    }

    #fonctionnement li::before {
        margin-left: -40px;
    }
}

@media all and (min-width: 600px) and (max-width: 874px) {
    #restaurants {
        
        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap      : 35px;
        }

        li {
            margin-bottom: 3em;
        }
    }

    .encartmenu {
        height: 16vh;
        
        &__img {
            &--ajust1 {
                height: 133%;
                object-position: center -45px;
            }
    
            &--ajust3 {
                height: 133%;
                object-position: 20% -45px;
            }
        }
    }
}

/* MEDIUM */
@media screen and (min-width: 875px) {
    #presentation h2 {
        width: 100%;
    }

    #fonctionnement ul {
        display: flex;
        justify-content: space-between;

        li {
            margin: 0;
        }
    }

    #restaurants {
        
        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap      : 35px;
        }

        li {
            margin-bottom: 3em;
        }
    }

    .encartmenu {        
        &__img {
            &--ajust1 {
                height: 135%;
                object-position: center -80px;
            }
    
            &--ajust3 {
                height: 133%;
                object-position: 20% -70px;
            }
        }
    }

    footer ul {
        display: flex;
        justify-content: space-between;
    }
}

/* LARGE */
@media screen and (min-width: 1100px) {
    #fonctionnement, #restaurants, .infofooter {
        max-width: 1000px;
        margin: auto;
    }
}