// PAGE MENU
// Header - page menu
.headermenu {
    display: flex;
    margin-top: 20px;
    position: relative;

    .fas {
    position: absolute;
    top: .6em;
    font-size: 1.3em;
    margin-left: 1.5em;
    }

    h1 {
        max-width: 100%;
        margin: auto;
    }
}

// Image principal - page menu

.imageentete {
    margin: 0; 
    &__img {
        max-width    : 100%;
        min-width    : 100%;
        object-fit   : cover;
        object-position: 50% 60%;
        height       : 40vh;
    }
}

.mainmenu {
    margin-top: .3em;
    position: relative;
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 25px 25px 0 0;
    margin-top:-55px;
}

// // Section menu titre

.menu {
    display:block;
}

.menu__titre, .encart {
    padding-left: 1.4em;
    padding-right: 1.4em;
    padding-top: .5em;
}

.menu__titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    h2 {
    font-family: Shrikhand, serif;
    font-size: 1.8em;
    font-weight: 200;
    }
}

// Section menu

.encart__titre {
    font-weight: lighter;
    &::after {
        content: "";
        display: block;
        margin-top: 4px;
        width: 55px;
        height: 3px;
        background-color: $color-tertiary;
    }
}

.encart__description {
margin-bottom: 1em;
background-color: rgba(255,255,255,1);
display: flex;
border-radius: 20px;
overflow: hidden;
will-change: transform;
}
  
  .encart__infos {
      padding-left: 1em;
      width: 100%;
      overflow: hidden;
  }
  
  p, h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  }
  
  h4 {
    margin-bottom: .3em;
  }
  
  p {
    margin-top:0;
  }
  
  .prix {
    width:50px;
    margin-right:.5em;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    transform: translateX(100%);
    transition:2s;
  }
  
  .encart__valider {
    background-color: $color-tertiary;
    border:none;
    height:80px;
    width: 6.5em;
    transform: translateX(100%);
    transition:2s;
  }
  
  .encart__valider .fas {
    color: white;
    transition: 1s ease-in-out;
    font-size: 1.6em;
  }
  
  .encart__description:hover > .encart__valider {
    transform: translateX(0%);
  }
  
  .encart__description:hover {
  > .prix {
      transform: translateX(0%);
  }
}

.encart__description:hover .fas {
    transform: rotate(1turn);
}

.validation {
    cursor: pointer;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    .btndegrade {
        font-size: 1.2em;
        padding-right: 2.4em;
        padding-left: 2.4em;
    }
}

// MEDIA QUERIES
// Medium

@media screen and (min-width: 930px) {
    .menu {
        display: grid;
        grid-template-columns: repeat(3, 32.8%);
    }
 }

// Large
@media screen and (min-width: 1200px) {
    .mainmenu {
        position: relative;
        max-width: 1350px;
        margin: auto;
        margin-top:-55px;
    }
    .encart {
        padding-right: 0;
    }
 }