/* PAGE MENU */
/* HEADER */
.headermenu {
    position: relative;
    margin-top: 20px;
    display: flex;

    .fas {
    position: absolute;
    top: .6em;
    margin-left: 1.5em;
    font-size: 1.3em;
    }

    h1 {
        max-width: 100%;
        margin: auto;
    }
}

/* IMAGE PRINCIPALE - PAGE MENU */

.imageentete {
    margin: 0;

    &__img {
        max-width    : 100%;
        min-width    : 100%;
        object-fit   : cover;
        object-position: 50% 60%;
        height       : 40vh;
        
        &--recadrer {
            object-position: 50% 50%;
        }
    }
}

.mainmenu {
    position  : relative;
    width: 100%;
    margin-top:-55px;
    background-color: #f6f6f6;
    border-radius   : 40px 40px 0 0;
}

/* MENU TITRE - PAGE MENU */

.menu {
    display: block;

    &__titre, .encart {
        padding-left : 1.4em;
        padding-right: 1.4em;
        padding-top  : .5em;
    }

    &__titre {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        h2 {
        font-family: Shrikhand, serif;
        font-size  : 1.8em;
        font-weight: 200;
        }
    }
}

/* SECTION COMPOSITION MENU - PAGE MENU */

.encart__titre {
    font-weight: 300;
    font-size: 1em;

    &::after {
        content: "";
        display: block;
        width : 48px;
        height: 3px;
        margin-top: 4px;
        background-color: $color-tertiary;
    }
}

.encart__description {
    height: 75px;
    margin-bottom: 1em;
    background-color: white;
    display: flex;
    border-radius: 18px;
    box-shadow      : 0 7px 8px $box-shadow;
    overflow: hidden;
    will-change: transform;
    cursor: pointer;

    /* Animation encarts menus */
    &--mvt1 {
        animation: menumvt 1s ease-out;
        opacity: 1;
    }
    
    &--mvt2 {
        animation: menumvt 1s .2s ease-out;
        opacity: 1;
    }
    
    &--mvt3 {
        animation: menumvt 1s .3s ease-out;
        opacity: 1;
    }
    
    &--mvt4 {
        animation: menumvt 1s .4s ease-out;
        opacity: 1;
    }
}
  
.encart__infos {
    width: 150%;
    padding-left: .7em;
    overflow: hidden;

    p, h4 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    h4 {
        margin-bottom: .3em;
        margin-top : .8em;
        font-weight: 500;
        font-size  : 1.1em;
    }
        
    p {
        margin-top : 0;
        font-size  : .95em;
        font-weight: 300;
    }
}
  
.encart__prix {
    margin-right: -20px; 
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: bold;
    transform: translateX(120%);
    transition: .6s;
}
  
.encart__valider {
    height: 100%;
    width : 9.5em;
    border: none;
    background-color: $color-tertiary;
    cursor    : pointer;
    transform : translateX(101%);
    transition: .6s;

    .fas {
        color: white;
        font-size: 2em;
    }
}

/* Survol bouton encart menu */
.encart__description:hover,
.encart__description:active {
    > .encart__valider {
        transform: translateX(0%);
    }

    > .encart__prix {
        transform: translateX(-120%);
        margin-left: 40px;
    }
    
    .fas {
        transform: rotate(1turn);
        transition: .6s ease-in-out;
    }
}

/* Bouton dégradé */
.validation {
    margin-top: 2em;
    display   : flex;
    justify-content: center;
    cursor: pointer;
    
    .btndegrade {
        padding-right: 2.4em;
        padding-left : 2.4em;
        font-size: 1.2em;
    }
}

/* MEDIA QUERIES - PAGE MENU */

/* SMALL */
@media all and (min-width: 300px) and (max-width: 568px) {
    .menu__titre h2 {
        font-size: 1.4em;
    }
    .encart__prix {
        transform: translateX(90%);
    }
}

/* MEDIUM */
@media screen and (min-width: 930px) {
    .menu {
        display: grid;
        grid-template-columns: repeat(3, 33.2%);
    }
}

/* LARGE */
@media screen and (min-width: 1200px) {
    .mainmenu {
        position  : relative;
        max-width : 1350px;
        margin-left    : auto;
        margin-right    : auto;
        margin-top: -55px;
    }
}