@keyframes menumvt {
    from {
        opacity: 0;
        transform: translateY(40%); 
    }
    
    to {
        transform: translateY(0%);
    }
}

@keyframes rondbattement {
    from {
        transform: scale(.6);
        opacity: 1;
    }

    to {
        transform: scale(1.2);
        transform: rotate(-0.5turn);
        opacity: 0;
    }
}

@keyframes loading-disparition {
    from {
        opacity:1;
    }
        
    to {
        opacity: 0;
        z-index: -1;
    }
}