@keyframes menumvt {
    0% {
    opacity: 0;
    transform: translateY(40%); 
    }
    
    100% {
        transform: translateY(0%);
    }
}

@keyframes rondbattement {
    0% {
        transform: scale(.6);
        opacity: 1;
    }

    100% {
            transform: scale(1.2);
            transform: rotate(0.5turn);
            opacity: 0;
    }
}

@keyframes loading-disparition {
    from {
        opacity:1;
    }
        
    to {
        opacity: 0;
        z-index: -1;
    }
}