@mixin bouton-degrade($color:$couleur-degrade) {
    padding: 1em 1.4em 1em 1.4em;
    background   : $color;
    color : white;
    outline: 0;
    border-radius: 50px;
    border: none;
    box-shadow : 1px 3px 5px $box-shadow;
    font-weight: bold;
    cursor: pointer;

    &:hover, &:active {
        opacity: 0.9;
        box-shadow: 1px 3px 5px #696666;
    }
}

@mixin puce-liste {
    position: absolute;
    padding : 5px 9px 5px 9px;
    counter-increment: numeroliste;
    content: counter(numeroliste);
    background-color: $color-primary;
    color: white;
    font-size: .8em;
    border-radius:50%;
}