@mixin bouton-degrade($color:$couleur-degrade) {
    padding: 1em 1.4em 1em 1.4em;
    background   : $color;
    color : white;
    outline: 0;
    border-radius: 50px;
    border: none;
    box-shadow : 1px 3px 5px $box-shadow;
    font-weight: bold;
    cursor: pointer;

    &:hover, &:active {
        opacity: 0.9;
        box-shadow: 1px 3px 5px #696666;
    }
}

@mixin puce-liste {
    position: absolute;
    padding : 5px 9px 5px 9px;
    counter-increment: numeroliste;
    content: counter(numeroliste);
    background-color: $color-primary;
    color: white;
    font-size: .8em;
    border-radius:50%;
}

@mixin encart-img {
    .encartmenu {
        &__img {
            border-radius: 17px 17px 0 0;
            object-fit   : cover;
            height       : 25vh;
            max-width    : 100%;
            min-width    : 100%;

            &--ajust1 {
                object-position: 50% 100%;
            }

            &--ajust2 {
                object-position: 50% 62%;
            }

            &--ajust3 {
                object-position: 50% 100%;
            }
            
            &--ajust4 {
                object-position: 50% 90%;
            }
        }
    }
}