@mixin bouton-degrade($color:$couleur-degrade) {
    cursor: pointer;
    background: $color;
    outline: 0;
    padding: 1em 1.4em 1em 1.4em;
    border-radius: 50px;
    color: white;
    border: none;
    font-weight: bold;
    box-shadow: 1px 3px 5px $box-shadow;
    &:hover {
        opacity: 0.9;
        box-shadow: 1px 3px 5px #696666;
    }
}

@mixin puce-liste {
    counter-increment: numeroliste;
    content: counter(numeroliste);
    position: absolute;
    color: white;
    font-size: .8em;
    background-color: $color-primary;
    padding: 5px 9px 5px 9px;
    border-radius:50%;
}

@mixin encart-img {
    .encartmenu {
        &__img {
            border-radius: 17px 17px 0 0;
            object-fit   : cover;
            height       : 25vh;
            max-width    : 100%;
            min-width    : 100%;
            &--ajust1 {
                object-position: 50% 100%;
            }
            &--ajust2 {
                object-position: 50% 62%;
            }
            &--ajust3 {
                object-position: 50% 100%;
            }
            &--ajust4 {
                object-position: 50% 90%;
            }
        }
    }
}